.true{
    color:#fff;
    font-weight: 500;
    text-decoration: line-through;
    background: #ff6b6b;
    
}

ul{
  /* background:  rgba(255,204,0,.1);
   background: #252526;
   
   border: 1px solid rgba(0,0,0,.15);*/
  padding: 10px 2%;
}
li{
    width: 100%;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #222;
    list-style: none;
    line-height: 1.5;
    padding: 2px 2%;
    margin: 3px auto;
    border-radius: 5px;
    background-color: #f4f7f8;
    border: 1px solid rgba(0,0,0,.15); 
    font-weight: 400;
}

form{
    
    width: 100%;
    align-self: stretch;
    display: flex;
    margin: 10px 0 ;
    box-sizing: border-box;
    padding: 10px;
    /*background: #00c7b7;
    border: 1px solid rgba(0,0,0,.15); 
    border-radius: 4px;*/
    background: #fff;
    
}

input{
    flex: 0 0 40%;
    height: 20px;;
    line-height: 2;
    outline: none;
    border: none;
   /* border: 1px solid rgba(0,0,0,.15);*/
    font-size: 1.2rem;
    padding-left: 1%;
    background: #fff;
    box-shadow: 0 0 0 2px rgba(52,144,220,0.5);
    border-radius: 2px;
}

button{
    flex: 1 0 18%;
    font-size: 1.3rem;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border: none;
    border-radius: 2px;
    margin-left: 1%;
    color: #fff;
    font-weight: 400;
    background: #556270;
}

button:hover{
    background:  #ff6b6b;
}
button:first-of-type:hover{
    background:  #f2f2f2;
    color: #222;
}